body {
  background-color: #7C1717;
}

img {
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px; 
	float: left;
  width:  200px;
  height: 300px;
}
#cardCont {
	max-width: 960px ;
}
#title {
	text-align: center;
}
#description {
	text-align: center;
}
#spotCard {
	position: centered;
	margin-bottom: 30px;
  border: 3px solid #ddd;
  box-shadow: 10px 10px grey;
}
#spotImg {
	float: align-self-centered;
	left: 15px;
  width: 13rem;
  height: 7rem;
  
}
#header {
	background-color: white;

}
img:hover {
}
