<!DOCTYPE HTML 5>
<% layout('/layouts/boilerplate') %>
<div class="row">
	<div class="col-6 offset-3">
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading"><%= err.message%></h4>
			<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
			<hr>
			<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
		</div>
		<div class="container justify-center">
			<div class="card">
				<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.thevaultproscooters.com%2Fmedia%2Fbrand%2Fa%2Fo%2Fao.jpeg&f=1&nofb=1">
			</div>
				<div class="card">
					<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.mby0I-v7aVUIK8Zxy5Lf7wHaFT%26pid%3DApi&f=1">
				</div>
				<div class="card">
					<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.l7LF5TRjPnlHyqXBrHxXAAHaDs%26pid%3DApi&f=1">
				</div>
		</div>
	</div>
</div>
