<!DOCTYPE HTML>
<%- include("partials/header") %>
<div class="container">
		<h1>Create a New Skateground</h1>

	<form action="/skategrounds" method="POST" id="form1">
		<div class="form-row align-items-center">
			<input class="form-control mb-2"type="text" name="name"  placeholder="name">
			<input class="form-control mb-2" type="text" name="image"  placeholder="image url">
			<button type="submit" class="btn btn-success" form="form1">Submit!</button>
		</div>
	</form>
</div>
<%- include("partials/footer") %>
