<!DOCTYPE HTML>
<%- include("partials/header") %>
<h1>Create a New Skateground</h1>

<form action="/skategrounds" method="POST" id="form1">
		<input type="text" name="name"  placeholder="name">
		<input type="text" name="image"  placeholder="image url">
		<button form="form1" type="text">Submit!</button>
</form>
<%- include("partials/footer") %>
