<!DOCTYPE HTML>
<!-- <link rel="stylesheet" href="/home/tec/udemy_web/MoreExpress/skategrounds/app.css"> -->
<%- include("partials/header") %>

<div class="container">
	<header class="jumbotron">
		<h1>Welcome To SkateGrounds</h1>
		<p>Check out these spots near by</p>
		<a class="btn btn-primary bt-lg" href="/skategrounds/new">Add New SkateGround</a>
		<a class="btn btn-primary bt-lg" href="/skategrounds/items">view items</a>
	</header>
			 
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
			<% skategrounds.forEach(function(skateground){ %>
				<div class="col-md-3 col-sm-6">
					<div class="img-thumbnail">
						<img class="img-fluid"src="<%=skateground.image%>">
						<div class="caption">
							<h5><%=skateground.name%></h5>		
						</div>
					</div>
				</div>
			<% }) %>
	</div>
</div>
<%- include("partials/footer")  %>

