<!DOCTYPE HTML>
<%- include("partials/header")  %>
<h1>This is the homepage</h1>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.yLus1NnCz9VoFX35T4kgFAHaE8%26pid%3DApi&f=1">
<%- include("partials/footer") %>
