<!DOCTYPE HTML 5>
<% layout('/layouts/boilerplate')%>

<div class="container mt-3" id="inputForm">
	<div class="row">
		<h1 class="text-center">New Skate Ground</h1>
			<div class="col-6 offset-3">
				<form action="/skategrounds" method="POST" id="form1" class="validated-form "novalidate>
					<div>
						<label class="form-label" for="title">Title</label>
						<input class="form-control mb-2"type="text" name="skateground[title]" id="title" required>
					</div>
					<div>
						<label class="form-label" for="image">Image Url</label>
						<input class="form-control mb-2"type="text" name="skateground[image]" id="image" required></br> 
					</div>
					<div>
						<label class="form-label" for="description">Description</label>
						<textarea class="form-control mb-2" type="text" name="skateground[description]" id="description" required></textarea>
					</div>
						<button type="submit" class="btn btn-primary" form="form1">Create</button>
				</form>
			</div>
	</div>
</div>

