<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/stylesheet/skategrounds.css" type="text/css" media="screen" charset="utf-8">
		<title>SkateGrounds</title>
		<h1>this is the header</h2>
	</head>

	<body>


